/Projects/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/build/
/Projects/mooc-2013-OOProgrammingWithJava-PART1/week5-090.TeamAndPlayers/build/
/Projects/mooc-2013-OOProgrammingWithJava-PART1/week5-091.ExtendingMyDate/build/
/Projects/mooc-2013-OOProgrammingWithJava-PART1/week6-100.NightSky/nbproject/private/
/Projects/mooc-2013-OOProgrammingWithJava-PART1/week6-101.Library/nbproject/private/